body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}
header{
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 1.5rem 1rem;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
}

.intro{
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
}

.curiosidades {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.curiosidades-card {
    background-color: white;
    margin: 20px 0;
    border-radius: 12px;
    box-shadow: 0 2 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    transition: transform 0.3s ease;
}

.curiosidades-card:hover{
    transform: scale(1.05);
}

.curiosidades-card h3{
    color: #2c3e50;
    margin-bottom: 10px;
    font-size: 1.4rem;
}

footer{
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

@media (max-width: 600px) {
    header h1{
        font-size: 1.5rem;
    }

    .curiosidades-card {
        width: 90%;
    }
}
nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: #333;
    padding: 0.5rem 0;
}

nav a{
    color: #fff;
    text-decoration: none;width:"415px"; height:"380px";
    font-weight: bold;
}
.hero{
    background-color: url('planeta-terra_585359906.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.hero h2{
    font-size: 2.5rem;
    text-align: center;
    padding: center;
}

main{
    max-width: 1000px;
    padding: 1rem;
    margin: 2rem auto auto auto;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.center p{
    font-weight: bold;
}
.surprise h3{
    color: #2c3e50;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}